* {
    font-family:Roboto;
}
header, body {
    width: 100%;
    height: 280px;
    background: #4e87bc;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(340, 95%, 50%, 0.459), hsla(197, 70%, 48%, 0.664)), url(file:///C:/Users/GIULIANO/Desktop/Literatura/Argentina%20Programa/Portfolio%20Web/PortfolioFrontEnd/img/diferencia_entre_mar_y_oceano_44309_orig.webp);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(108, 78%, 58%, 0.459), hsla(197, 70%, 48%, 0.664)), url(file:///C:/Users/GIULIANO/Desktop/Literatura/Argentina%20Programa/Portfolio%20Web/PortfolioFrontEnd/img/diferencia_entre_mar_y_oceano_44309_orig.webp);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.cuadrosblancos {
background: white;
}
.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.navegacion {
    justify-content: right;
    display:flex;
    padding:3px;
    text-indent: 10px;
}
.padding{
    padding:15px;
    margin:5px;
}
.foto{
    padding:3px;
}
.block{
    display:block;
}
.flex {
    display:flex;
}
.sangria {
    text-indent: 10px;
}
